h1 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

a {
  text-align: center;
}

img {
  margin: 20px;
  border-bottom: solid 10px;
}

#input {
  padding: .5em .5em;
  width:80%;
}
